.bottomNav {
  border-top: 1px solid #ebedef;
  padding: 12px 0px;
}

.time {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  margin-left: 12px;
}
@media (max-width: 350px) {
  .mediaSize {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 420px) {
  .mediaSize {
    width:60%;
  }
}