@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --primary--color: #00C170;
 --primary--button--color: #00D37A;
 --error--color: #FF414D;
 --current--color: #8C8E91;
 --empty--color: #EBEDEF;
 --fail--color: #FF5F5F;
 --good--color: #00D6C9;
 --perfect--color: #0DB6FF;
}

body {

}

.layout{
 display: flex;
 flex-direction: column;
 flex: 1;
 border: 1px solid black;
}

