@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  height: 100vh;
  position:relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.04em;
}

.h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
}

.h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
